@font-face
{
	font-family: Volter;
	src: url(../fonts/Volter.ttf);
}


body, html {
	margin:0;
	padding:0;
	background-color:black;
	font:normal 12px Volter;
	color:white;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor:default;
}

#editor-placeholder {
	position:absolute;
	width:590px;
	height:333px;
	background-image:url('../img/base/placeholder.png');
	background-repeat:no-repeat;
	background-position:center;
	border-radius:15px;
	top:calc(50% - (333px / 2));
	left:calc(50% - (590px / 2));
}

#editor-title {
	position:absolute;
	width:137px;
	height:15px;
	color:white;
	font:normal 9.0px Volter;
	top:4px;
	left:calc(50% - (137px / 2));
	text-align:center;
	line-height:15px;
}

#chips-placeholder {
	position:absolute;
	width:139px;
	height:117px;
	background-image:url('../img/base/chips.png');
	background-repeat:no-repeat;
	background-position:center;
	left:17px;
	top:32px;
	padding-top:10px;
}

.chip-placeholder {
	width:80px;
	height:32px;
	margin-left:10px;
	padding-left:36px;
	color:white;
	font:normal 9.0px Volter;
	line-height:16px;
	text-align:middle;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:2px 2px;
	margin-bottom:4px;
}

.chip-placeholder:hover {
	opacity:0.5;
}

#chips-controller {
	position:absolute;
	width:74px;
	height:24px;
	background-image:url('../img/base/chips_controller.png');
	background-repeat:no-repeat;
	background-position:center;
	left:50px;
	top:159px;
}

#chips-controller-backward {
	position:absolute;
	width:10px;
	height:16px;
	left:10px;
	top:calc(50% - (16px / 2) - 1px);
	background-image:url('../img/base/chips_controller_backward_disabled.png');
	background-repeat:no-repeat;
	background-position:center; 
	cursor:pointer;
}

#chips-controller-forward {
	position:absolute;
	width:10px;
	height:16px;
	right:10px;
	top:calc(50% - (16px / 2) - 1px);
	background-image:url('../img/base/chips_controller_forward_disabled.png');
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}

#chips-controller-minpage {
	position:absolute;
	width:13px;
	height:10px;
	font:normal 9.0px Volter;
	text-align:right;
	color:rgb(150, 183, 198);
	left:calc(50% - 13px - 5px);
	top:calc(50% - (10px / 2) - 1px);
}

#chips-controller-dividerpage {
	position:absolute;
	width:10px;
	height:10px;
	font:normal 9.0px Volter;
	text-align:right;
	color:rgb(150, 183, 198);
	left:calc(50% - (10px / 2));
	top:calc(50% - (10px / 2) - 1px);
}

#chips-controller-maxpage {
	position:absolute;
	width:13px;
	height:10px;
	font:normal 9.0px Volter;
	text-align:left;
	color:rgb(150, 183, 198);
	left:calc(50% + 5px);
	top:calc(50% - (10px / 2) - 1px);
}

#chips-equipped-placeholder {
	position:absolute;
	width:415px;
	height:113px;
	top:33px;
	left:158px;
	padding-left:10px;
}

.chips-equipped-placeholder {
	position:relative;
	float:left;
	margin-right:6px;
	width:97px;
	height:113px;
	display:block;
	z-index:99;
}

.chips-equipped-title {	
	background-image:url('../img/base/chip_equipped_title_unequipped.png');
	background-repeat:no-repeat;
	background-position:center;
	width:89px;
	height:23px;
	color:white;
	font:normal 9.0px Volter;
	line-height:24px;
	text-align:center;
	overflow:hidden;
	padding-left:4px;
	padding-right:4px;
}

.chips-equipped-body {	
	background-image:url('../img/base/chip_equipped_body.png');
	background-repeat:no-repeat;
	background-position:center;
	width:75px;
	height:81px;
	padding-left:12px;
	padding-right:10px;
	padding-top:9px;
	overflow:hidden;
}

.chips-equipped-sample {
	display:block;
	float:left;
	width:21px;
	height:21px;
	background-color:red;
	margin-top:1px;
	margin-left:2px;
	margin-right:1px;
	margin-bottom:2px;
	border-radius:6px;
	cursor:pointer;
}

#chips-equipped-line {
	position:absolute;
	width:80%;
	height:1px;
	background-color:rgb(58, 77, 84);
	border-bottom:1px solid rgb(112, 151, 166);
	top:calc(50% - 1px);
	left:0px;
	display:block;
	z-index:0;
}

#designer-placeholder {
	background-image:url('../img/base/designer_placeholder.png');
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	width:555px;
	height:131px;
	left:19px;
	top:192px;
}

#designer-wrapper {
	position:absolute;
	width:531px;
	height:103px;
	top:10px;
	left:19px;
	margin:0;
	padding:0;
	z-index:1;
}

.designer-wrapper-row {
	background-image:url('../img/base/designer_wrapper_row.png');
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	width:528px;
	height:21px;
	margin-left:-1px;
	margin-bottom:1px;
	padding:2px;
	z-index:2;
	padding-left:4px;
}

.designer-wrapper-cell {
	position:relative;
	width:21px;
	height:21px;
	display:block;
	float:left;
	border-radius:6px;
	z-index:2;
}

.designer-wrapper-cell-seal {
	position:relative;
	display:block;
	width:3px;
	height:13px;
	float:left;
	margin-top:3px;
	margin-left:-1px;
	margin-right:-1px;
	z-index:3;
}

#designer-row-label {
	background-image:url('../img/base/designer_row_label.png');
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	width:8px;
	height:103px;
	top:10px;
	left:7px;
}

#designer-pointer {
	background-image:url('../img/base/designer_pointer.png');
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	z-index:2;
	left:0px;
	top:-2px;
	width:25px;
	height:118px;
}

#controls-wrapper {
	position:absolute;
	width:205px;
	height:23px;
	left:353px;
	top:170px;
}

#controls-music-button {
	background-image:url('../img/base/button_play_default.png');
	background-repeat:no-repeat;
	background-position:center;
	position:relative;
	float:left;
	width:56px;
	height:23px;
	margin-right:3px;
	cursor:pointer;
}

#controls-save-button {
	background-image:url('../img/base/button_save_default.png');
	background-repeat:no-repeat;
	background-position:center;
	position:relative;
	float:left;
	width:56px;
	height:23px;
	cursor:pointer;
}
